*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    --dugme: #f0c817;
    --light-side-button: rgba(255, 255, 255, 0.377);
    --dark-side-button: rgba(0, 0, 0, 0.336);
    --text-color: rgba(255, 255, 255, 0.781);
    --videos-margin-top: 130px;
}
body{
    background-image: linear-gradient(90deg, rgba(32,45,59,255) 0%,  rgba(70,89,103,255) 47%, rgba(70,89,103,255) 53%, rgba(32,45,59,255) 100%);
    padding: 10px 40px;
}
.heading p{
    text-transform: uppercase;
    letter-spacing: 13px;
    margin-top: 12px;
    text-indent: 13px;
    opacity: 0.8;
}
.heading{
    text-align: center;
    margin-top: 15px;
}
.step{
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.829);
}
.step p{
    color: var(--text-color);
    padding-bottom: 40px;
    position: relative;
    margin-top: -75px;
}
.step a,
.yellow_span{
    text-decoration: none;
    font-weight: 600;
    color: var(--dugme);
}
.step a:hover{
    color: #fbff00;
}
.number{
    font-size: 135px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.171);
    letter-spacing: -7px;
}
.step:last-of-type{
    border: none;
}
.button{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 70px;
    margin-bottom: 35px;
}
.dugme_stake{
    padding: 15px;
    text-transform: uppercase;
    background-color: var(--dugme);
    width: 300px;
    color: #1d293c;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -1.5px;
    border-radius: 13px;
    box-shadow: 5px 5px 15px 2px #202D3B;
    border-top: 4px solid var(--light-side-button);
    border-left: 4px solid var(--light-side-button);
    border-bottom: 4px solid var(--dark-side-button);
    border-right: 4px solid var(--dark-side-button);
}
.videos{
    display: flex;
    justify-content: space-around;
    margin-top: var(--videos-margin-top);
}
.video{
    width: 90%;
    height: 180px;
    margin-top: 50px;
}
.video-container{
    width: 40%;
    text-align: center;
    position: relative;
}
.video-container h2{
    text-align: center;
    color: var(--text-color);
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 1008px){
    .videos{
        flex-direction: column;
    }
    .video-container{
        width: 100%;
    }
    .video-container:nth-child(2){
        margin-top: var(--videos-margin-top);
    }
}