*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 1000px;
    background-image: linear-gradient(90deg, rgba(32,45,59,255) 0%,  rgba(70,89,103,255) 47%, rgba(70,89,103,255) 53%, rgba(32,45,59,255) 100%);
}