*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
body{
    height: 1000px;
    background-image: linear-gradient(90deg, rgba(32,45,59,255) 0%,  rgba(70,89,103,255) 47%, rgba(70,89,103,255) 53%, rgba(32,45,59,255) 100%);
}
.heading p{
    text-transform: uppercase;
    letter-spacing: 13px;
    margin-top: 12px;
    text-indent: 13px;
    opacity: 0.8;
}
.heading{
    text-align: center;
    margin-top: 25px;
}
